/* Import Google font - Poppins */
/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* padding: 20px; */
  background:mintcream;
}


.banner{
  width: 1760px;
  height: 245px;
  background-image: url('bn.png');
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.logo{
  width:115px;
  height:115px;
  box-shadow: rgba(0, 0, 0, 0.03);
}

nav{
  width: 100%;
  position: absolute;
  top: -5px;
  left: 0;
  padding: 5px 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.logo{
  width: 80px;
  cursor: pointer;
}
.dropdown{
  margin-right: 20px;
  /* position: absolute; */
}
nav {
  opacity: 15.7;
}
.links li {
  display: inline-block;
  list-style: none;
  position: relative;
}
.links li a {
  display: inline-block;
  color: #fff;
  padding: 20px;
  text-decoration: none;
}

.links li:hover {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}
.links li:hover .dropdown {
  display: block;
}
.dropdown {
  position: absolute;
  display: none;
  top: 65px;
  left: 5px;
  width: 150px;
}
.dropdown li {
  display: block;
  color: #fff;
}

nav ul li{
  list-style: disc;
  display: inline-block;
  margin-left: 40px;
  position: relative;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 14px; 
  text-transform: uppercase;
  font-synthesis: style;   
}
nav ul li a::after{

  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
nav ul li a:hover{
  -webkit-text-stroke: 1px #fff;
color: transparent;
}
nav ul li a:hover::after{
  width: 100%;
}

.container {
  background: url('form1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  max-width: 700px;
  width: 100%;
  margin-top: 50px;
  /* background: #1a438159; */
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
}
.container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 10px;
}
.input-box label {
  color: #ffffff;
  font-size: large;
  font-weight: 600;
  
}
.form :where(.input-box input, .select-box) {
  position: relative;
  background: #ffffff00;
  height: 50px;
  width: 100%;
  outline:none;
  font-size: 1rem;
  color: #ffffff85;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.address :where(input, .select-box) {
  margin-top: 0px;

}

.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgba(180, 129, 171, 0.671);
}
.form button a{
  text-decoration: none;
}
.form button:hover {
  background: rgba(71, 6, 51, 0.463);
}
/*Responsive*/
/* @media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
} */


.footer {
  position: relative;
  max-width: 100%;
  background: #2987ff;
  min-height: 100px;
    padding: 3% 4%;
    text-align: center;
    color: #fff;
    height: 270px;
    width: 1500px;
    margin-top: 200px;
}
.footer p i{
  color: #000000;
}
.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("wave1.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}
.row{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: start;
    margin-bottom: 20px;
}

.row .col {
    width: 25%;
}
.row .col ul{
    list-style: none;
    width: 80%;
}
.row .col ul li{
  font-weight: 100;
}
.row .col ul li p{
  margin-left: 35px;
}
.row .col ul li a{
  color: #ffffff;
  font-weight: 100;
  margin: 20px 0;
  text-decoration: none;
}
.row .col ul li b i{
  font-size: 15px;
}
.row .col ul li a:hover{
  -webkit-text-stroke: 1.3px #fff;
  color: transparent;
}
.row .col ul li b:hover{
  -webkit-text-stroke: 1.3px #fff;
  color: transparent;
}
.footer p b i{
   font-size: 19px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: #ffffff;
   position: relative;
   bottom: 15px;
} 
.social{
    display: flex;
    gap: 20px;
}
.social li{
    list-style: none;
    height: 40px;
    width: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative;
    transition: .6s;
}

.social li i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-right: 100px;
}
.social li:hover{
    background-color: #fff;
    transform: translateY(-5px);
}
.social li:hover i{
    color: #FF6900;
}
@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
/*footer ends*/