
nav {
  opacity: 15.7;
}
.links li {
  display: inline-block;
  list-style: none;
  position: relative;
}
.links li a {
  display: inline-block;
  color: #fff;
  padding: 20px;
  text-decoration: none;
}

.links li:hover {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}
.links li:hover .dropdown {
  display: block;
}
.dropdown {
  position: absolute;
  display: none;
  top: 65px;
  left: 5px;
  width: 150px;
}
.dropdown li {
  display: block;
  color: #fff;
}
