@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
*{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.banner{
    width: 1760px;
    height: 245px;
    background-image: url('images1/bn.png');
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.logo{
    width:115px;
    height:115px;
    box-shadow: rgba(0, 0, 0, 0.03);
}

nav{
    width: 100%;
    position: absolute;
    top: -5px;
    left: 0;
    padding: 5px 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav.logo{
    width: 80px;
    cursor: pointer;
}
.dropdown{
    margin-right: 20px;
    /* position: absolute; */
}
nav {
    opacity: 15.7;
  }
  .links li {
    display: inline-block;
    list-style: none;
    position: relative;
  }
  .links li a {
    display: inline-block;
    color: #fff;
    padding: 20px;
    text-decoration: none;
  }
  
  .links li:hover {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
  }
  .links li:hover .dropdown {
    display: block;
  }
  .dropdown {
    position: absolute;
    display: none;
    top: 65px;
    left: 5px;
    width: 150px;
  }
  .dropdown li {
    display: block;
    color: #fff;
  }
  
nav ul li{
    list-style: disc;
    display: inline-block;
    margin-left: 40px;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px; 
    text-transform: uppercase;
    font-synthesis: style;   
}
nav ul li a::after{

    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
nav ul li a:hover{
    -webkit-text-stroke: 1px #fff;
  color: transparent;
}
nav ul li a:hover::after{
    width: 100%;
}


.about-us {
  display: flex;
  align-items: center;
  height: 90vh;
  width: 100%;
  padding: 90px 0;
  background: #fff;
}
.back-video {
    height: auto;
    margin-top: 90px;
    width: 450px;
    border-radius: 12px;
  }
.about {
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text {
    width: 540px;
}
.text h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
  color: #333;
  font-size: 80px;
  font-weight: 500;
  margin-bottom: 10px;
  text-decoration: underline;
  text-decoration-color: rgba(62, 175, 228, 0.767);
}
.text h2::after{

  content: '';
  height: 3px;
  width: 0;
  transition: 0.5s;
}
.text h2:hover{
  -webkit-text-stroke: 1px #000000;
color: transparent;
}
.text h2:hover::after{
  width: 100%;
}
.text h5 {
  color: #333;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
span {
  color: rgba(62, 175, 228, 0.767);
}
.text p {
  color: #333;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}
.data {
  margin-top: 30px;
}
.hire {
  font-size: 18px;
  background: rgba(62, 175, 228, 0.767);
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
.hire:hover {
  background: #000;
}


.lcard {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    top: 100px;
  }
  .head h2 {
    color: #333;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 300px;
    margin-right: -644px;
    margin-left: 414px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    bottom: 100px;
    text-decoration: underline;
    text-decoration-color: rgba(62, 175, 228, 0.767);
  }
  .lcard .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
  }
  
  .lcard .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
  }
  
  .lcard .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .lcard .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
  }
  
  .lcard .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
  }
  
  .lcard .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
  }
  
  .lcard .back .link a {
    color: #f3f3f3;
  }
  
  .lcard .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
  }
  
  .lcard .back p {
    letter-spacing: 1px;
  } 
  
  .lcard:hover .front {
    transform: perspective(600px) rotateY(180deg);
  }
  
  .lcard:hover .back {
    transform: perspective(600px) rotateY(360deg);
  }


.footer {
  position: relative;
  max-width: 100%;
  background: #2987ff;
  min-height: 100px;
    padding: 3% 4%;
    text-align: center;
    color: #fff;
    height: 270px;
    width: 1500px;
    margin-top: 225px;
}
.footer p i{
  color: #000000;
}
.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("images1/wave1.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}
.row{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: start;
    margin-bottom: 20px;
}

.row .col {
    width: 25%;
}
.row .col ul{
    list-style: none;
    width: 80%;
}
.row .col ul li{
  font-weight: 100;
}
.row .col ul li p{
  margin-left: 35px;
}
.row .col ul li a{
  color: #ffffff;
  font-weight: 100;
  margin: 20px 0;
  text-decoration: none;
}
.row .col ul li b i{
  font-size: 15px;
}
.row .col ul li a:hover{
  -webkit-text-stroke: 1.3px #fff;
  color: transparent;
}
.row .col ul li b:hover{
  -webkit-text-stroke: 1.3px #fff;
  color: transparent;
}
.footer p b i{
   font-size: 19px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: #ffffff;
   position: relative;
   bottom: 15px;
} 
.social{
    display: flex;
    gap: 20px;
}
.social li{
    list-style: none;
    height: 40px;
    width: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative;
    transition: .6s;
}

.social li i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-right: 100px;
}
.social li:hover{
    background-color: #fff;
    transform: translateY(-5px);
}
.social li:hover i{
    color: #FF6900;
}
@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
/*footer ends*/